[user]
	name = Toby Law
	email = toby.law@rokt.com
	signingkey = ~/.ssh/id_ed25519.pub

[column]
	# Format output into columns
	ui = auto

[branch]
	# Sort branches by most recently committed to
	sort = -committerdate

[tag]
	# Sort numerically rather than alpha (0.5.101 comes before 0.5.1000)
	sort = version:refname

[diff]
	# Smarter algorithm than the default `myers`
	algorithm = histogram
	# Shows code movements in a different colour to changes
	colorMoved = plain
	# Use more intuitive prefixes in diffs
 	mnemonicPrefix = true
	# Detects whether a file has been renamed or copied
	renames = copy

[init]
	defaultBranch = main

[core]
	excludesFile = ~/.gitignore
	pager = delta

[interactive]
	diffFilter = delta --color-only

[delta]
	# Use n and N to move between hunks
	navigate = true
	# Link git blame to GitHub and allow opening lines in your IDE
	hyperlinks = true
	hyperlinks-file-link-format = "cursor://file/{path}:{line}"

[alias] 
	co = checkout
	br = branch
	ci = commit
	st = status

	unstage = "reset HEAD --"
	last = "log -1 HEAD"
	fl = "log --graph --decorate --oneline"

	clone-wt = "!clone-wt.zsh"

	wipe = !git add -A && git commit -qm "WIPE SAVEPOINT" && git reset HEAD~1 --hard

[url "ssh://git@github.com/"]
	insteadOf = https://github.com/

[push]
	# Do the right thing instead of complaining about no upstream branch
	autoSetupRemote = true
	# Push local tags to the server
	followTags = true

[fetch]
	all = true
	# Delete local branches/tags if deleted on the server
	prune = true
	pruneTags = true
	
[pull]
	# Rebase instead of creating a merge commit
	rebase = true

[rebase]
	# Automatically squash commits like squash!/fixup!/amend!
	autoSquash = true
	# Automatically create a temporary stash before rebasing
	# Allows rebasing in a dirty worktree (but may result in non-trivial conflicts)
	autoStash = true
	# Automatically update any branches that point to commits being rebased
	# Saves heaps of manual effort when working with stacked PRs
	updateRefs = true
 
[merge]
	# Show what the code looked like before changes
	conflictStyle = zdiff3

[commit]
	verbose = true
	gpgSign = true

[gpg]
	format = ssh

[gpg.ssh]
	allowedSignersFile = "~/.ssh/allowed_signers"

[rerere]
	enabled = true
	autoupdate = true

[help]
	# Help fix up typos
	autocorrect = prompt
